<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_investment_path(@investment) %> |
<%= link_to 'Back', investments_path %><br><br>

Mortgage Balance: <%= @investment.mortgage_balance %><br>

Mortgage Payment: <%= @investment.mortgage_payment %><br>

Interest rate: <%= @investment.interest_rate %>%<br>

APR: <%= @investment.apr %>%<br>

<% counter = @investment.months %>
<% balance = @investment.mortgage_balance %>
<% payment = @investment.mortgage_payment %>
<% table_data = []%>

<% counter.times do %>
    <% table_data.push({month: counter, beginning_bal: balance, mortgage_payment: @investment.mortgage_payment, interest_payment: balance * @investment.apr * 0.01, principal_payment: payment - (balance * @investment.apr * 0.01), ending_balance: balance - ((@investment.mortgage_payment) - (balance * @investment.apr * 0.01))}) %>
    <!-- balance - principal payment -->
    <% balance = balance - (payment - (balance * @investment.apr * 0.01)) %>
    <% counter = counter - 1 %>
 <% end %>
<table>
  <tr>
    <th>Month</th>
    <th>Beginning-of-Month Mortgage Balance</th>
    <th>Mortgage Payment</th>
    <th>Interest Payment</th>
    <th>Principal Payment</th>
    <th>End-of-Month Mortgage Balance</th>
    <th>Extra Principal Payment</th>
  </tr>

  <% table_data.each do |data|%>
    <tr>
    <td><%= data[:month] %></td>
    <td><%= data[:beginning_bal].round(2) %></td>
    <td><%= data[:mortgage_payment].round(2) %></td>
    <td><%= data[:interest_payment].round(2) %></td>
    <td><%= data[:principal_payment].round(2) %></td>
    <td><%= data[:ending_balance].round(2) %></td>
    </tr>
  <% end %>
</table>



