

  <div class='header-container'>
   <div class='group'>
    <div class='logo'><%= image_tag ("reia_io_1.png") %></div>
    <div class='header-item'>
      <h1>Real Estate Analysis</h1>
      <br>
      <p>Use our dynamic screener to estimate the soundness of the investment you will be making. Using this screener, you can analyze the risk of your investment using proven technical principles practiced by some of the top investing firms in the world.
    </div>
    </div>
  </div>

  <a name="welcome" class="smoothScroll"></a>
  <div class='welcome-container' id="welcome">
    <div class='welcome'>
      <br>
      <p>REAL ESTATE SCREENER</p>
      <br>

      <%= form_for @investment = Investment.new do |f| %>

        <p>Mortgage type (fixed, by years):</p>
        <%= f.select :mortgage_type, [30, 15]%><br><br>

        <%= f.label :price %>
        <%= f.text_field :price %><br><br>

        <%= f.label :down_payment %>
        <%= f.text_field :down_payment %><br><br>

        <%= f.label :interest_rate %>
        <%= f.text_field :interest_rate %><br><br>

        <%= f.submit "Submit"%>

      <% end %>




    </div>
  </div>

